<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
    <body>
        <header>
            <h1><a href="/">SO-NUTS</a></h1>
        </header>
        <main>
            <form method="post" enctype="application/x-www-form-urlencoded" action="/result">
                <% data.forEach(function(intakeData) { %>
                    <% if (intakeData.type == null) { %>
                        <fieldset id="<%- intakeData.id %>">
                            <label for="<%- intakeData.id %>"><%- intakeData.text %> </label><br>
                            <input type="text" id="<%- intakeData.id %>" name="inputvalue" required><br>
                            <a href="#sex">Volgende</a>
                            <a href="#<%- intakeData.id %>">Vorige</a>
                        </fieldset>
                    <% } else if (intakeData.type == "multiChoice") { %>
                        <fieldset id="<%- intakeData.id %>">
                            <label for="<%- intakeData.id %>"><%- intakeData.text %> </label><br>
                            <div>
                                <% for( let i = 0; i < intakeData.answerOptions.length; i++ ) { %>
                                    <input type="radio" id="<%- intakeData.answerOptions[i].id %>" name="check" value="<%- intakeData.answerOptions[i].text %>">
                                    <label for="<%- intakeData.answerOptions[i].id %>"><%- intakeData.answerOptions[i].text %></label><br>
                                <% } %>
                            </div>
                            <a href="#sex">Volgende</a>
                            <a href="#<%- intakeData.id %>">Vorige</a>
                        </fieldset>
                    <% } else if (intakeData.type == "multiOpenChoice") { %>
                        <fieldset id="<%- intakeData.id %>">
                            <label for="<%- intakeData.id %>"><%- intakeData.text %> </label><br>
                            <div>
                                <% for( let i = 0; i < intakeData.answerOptions.length; i++ ) { %>
                                    <input type="checkbox" id="<%- intakeData.answerOptions[i].id %>" name="check" value="<%- intakeData.answerOptions[i].text %>">
                                    <label for="<%- intakeData.answerOptions[i].id %>"><%- intakeData.answerOptions[i].text %></label><br>
                                <% } %>
                            </div>
                            <a href="#sex">Volgende</a>
                            <a href="#<%- intakeData.id %>">Vorige</a>
                        </fieldset>
                    <% } %>                    
                <% }) %>
            </form>
        </main>
    </body>
</html> 